# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

Vocabulary/ORBvoc.txt
build/**
install/**
build
cmake_modules/

python/examples/__pycache__/**

*.egg-info

Thirdparty/DBoW2/lib/

venv/**
